<header class="pf-v6-c-masthead">
  <div class="pf-v6-c-masthead__main">
    <nav class="pf-v6-c-nav pf-m-horizontal" aria-label="Global">
      <ul class="pf-v6-c-nav__list" role="list">
        <li class="pf-v6-c-nav__item"><a href="index.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Главная</span></a></li>
        <li class="pf-v6-c-nav__item"><a href="page1.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">React</span></a></li>
        <li class="pf-v6-c-nav__item"><a href="page2.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Vue.js</span></a></li>
        <li class="pf-v6-c-nav__item"><a href="page3.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Angular</span></a></li>
        <li class="pf-v6-c-nav__item"><a href="page4.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Svelte</span></a></li>
        <li class="pf-v6-c-nav__item"><a href="page5.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Next.js</span></a></li>
        <li class="pf-v6-c-nav__item"><a href="page6.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Nuxt.js</span></a></li>
        <li class="pf-v6-c-nav__item"><a href="page7.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Ember.js</span></a></li>
        <li class="pf-v6-c-nav__item"><a href="page8.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Итоговое сравнение</span></a></li>
      </ul>
    </nav>
  </div>
</header>
