<header class="pf-v6-c-masthead">
  <div class="pf-v6-c-masthead__main">
    <nav class="pf-v6-c-nav pf-m-horizontal" aria-label="Global">
      <ul class="pf-v6-c-nav__list" role="list">
        <li class="pf-v6-c-nav__item"><a href="/" class="pf-v6-c-nav__link pf-m-current" aria-current="page"><span class="pf-v6-c-nav__link-text">Главная</span></a> </li>
        <li class="pf-v6-c-nav__item"><a href="/about.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Страница 1</span></a> </li>
        <li class="pf-v6-c-nav__item"><a href="/about.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Страница 2</span></a> </li>
        <li class="pf-v6-c-nav__item"><a href="/about.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Страница 3</span></a> </li>
        <li class="pf-v6-c-nav__item"><a href="/about.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Страница 4</span></a> </li>
        <li class="pf-v6-c-nav__item"><a href="/about.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Страница 5</span></a> </li>
        <li class="pf-v6-c-nav__item"><a href="/about.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Страница 6</span></a> </li>
        <li class="pf-v6-c-nav__item"><a href="/about.html" class="pf-v6-c-nav__link"><span class="pf-v6-c-nav__link-text">Страница 7</span></a> </li>
      </ul>
    </nav>
  </div>
</header>
